
/* Placeholder for IRC client chatbox */
#chat-box {
    /* padding + background */
     padding-left: 16px;
    border-radius: 4px;
    height: 400px;
    background-color: #1c1c1c;
    overflow-y: auto;
}
/* and to do the same for the other API windows */
#map {
    /* padding + background */
    background-color: #f8f9fa;
    border-radius: 4px;
    height: 400px;
    background-color: #1c1c1c;
    
}
        
            #calendar {
                max-width: 900px;
                margin: 40px auto;
            }
        
#cal-box {
    /* padding + background */
    background-color: #f8f9fa;
    border-radius: 4px;
    height: 400px;
    background-color: #1c1c1c;
}
#CAL_TEXT {
line-height: 200px;

}

#MAP_TEXT {
line-height: 200px;

}
#IRC_TEXT {
line-height: 00px;
color:rgb(0, 227, 144)
}

/* WIP section styling */
#options-section {
    /* TODO styles */
}

#horizontal-options {
    /* TODO styles */
    height: 130px;
}

#vertical-options {
    /* TODO styles */
    max-height: 200px;
    overflow-y: auto;
}

.p-3 {
 min-height: 150px;
}

.p-4 {
color: aquamarine;
}

#big-note {
align-items: normal;
align-items: center;
align-content: center;
text-align: center;
}